/* ChatWindow.css */

/* General Styles */
.chat-container {
  height: 100vh;
  display: flex;
}

.sidebar {
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.search-bar {
  padding: 0 1rem;
  margin-top: 20px;
}

.search-bar .MuiInputBase-root {
  border-radius: 20px;
  background-color: #f1f1f1;
  padding: 8px;
}

.tabs {
  margin-bottom: 1rem;
}

.contact-list {
  width: 100%;
}

.contact-list-item {
  margin-left: 1rem;
}

.chat-area {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f9f9f9;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.chat-body {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;  /* Enable scrolling only in the chat-body */
  background-color: #f9f9f9;
}

.no-messages {
  text-align: center;
  color: #888;
}

.message {
  margin-bottom: 1rem;
}

.message-sender {
  font-weight: bold;
}

.message-timestamp {
  color: #888;
  font-size: 0.8rem;
}

.message-text {
  padding-left: 1rem;
  color: #000;
}

.chat-footer {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.message-input {
  flex-grow: 1;
  border-radius: 25px;
  background-color: #f9f9f9;
  margin-right: 1rem;
}

.send-button {
  border-radius: 25px;
  height: 50px;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .chat-footer {
    flex-direction: column;
    gap: 10px;
  }

  .message-input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .send-button {
    width: 100%;
    padding: 12px;
  }
}